*.d
*.o
src/index
src/align
link
binary_container_1.build
.Xil
.run
*.xclbin
*.xclbin.*
vts_Opt1Baseline
*.backup.jou
*.backup.log
vitis_analyzer.jou
vitis_analyzer.log
emconfig.json
xrc.log
xcd.log
*.mdb
*.ltx
